---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Parking car finder">
  <form action="/api/login" method="POST">
    <div class="flex flex-col gap-2">
      <input
        class="rounded w-full appearance-none border border-gray-300 px-3 py-2 leading-tight text-gray-800 focus:outline-none"
        name="license"
        type="tel"
        placeholder="License plate"
      />
      <input
        class="rounded w-full appearance-none border border-gray-300 px-3 py-2 leading-tight text-gray-800 focus:outline-none"
        name="phone"
        type="tel"
        placeholder="Phone"
      />
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >
        Login
      </button>
    </div>
  </form>
</Layout>

<script>
  gtag("event", "screen_view");
</script>
